@import url('https://fonts.cdnfonts.com/css/sequences');
@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    background: #292929;
    font-family: 'Poppins';
}


/* scroll */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 181, 194);
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    background: transparent;
}


/* end scroll */


/* navbar */

#mainNav {
    width: 100%;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 1rem;
    padding-left: 40px;
    font-weight: 700;
    position: fixed;
    z-index: 99999;
    transition: all 0.8s linear;
}

#mainNav .navbar-nav {
    margin-top: 1rem;
    border: 2px solid #0ef;
    box-shadow: 0 0 20px #0ef;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    background: #292929;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #0ef;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #0ef;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #0ef;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#mainNav .navbar-toggler {
    font-size: 25px;
    padding: 0.8rem;
}

#mainNav .navbar-toggler:focus,
#mainNav .navbar-toggler:active,
#mainNav .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

button.new-button:checked {
    outline: none;
}

.menu-responsive {
    display: block;
}

#navbarResponsive a i {
    margin-top: 50px;
}

.icon-github {
    display: none;
}

.logo h2 {
    margin-left: 0px;
    background: linear-gradient(to right, rgb(0, 238, 255), rgb(0, 127, 136) 50%, rgb(255, 255, 255) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    animation: rainbow-animation 300s linear infinite;
    font-family: 'SEQUENCES', serif;
}

@keyframes rainbow-animation {
    to {
        background-position: 2000vh;
    }
}

@media (min-width: 992px) {
    .logo h2 {
        margin-left: 40px;
        padding-left: 0;
    }
    .menu-responsive {
        display: none;
    }
    .icon-github {
        display: block;
    }
    #mainNav {
        padding-left: 15px;
    }
    #mainNav .navbar-nav {
        margin-top: 0;
        border: none;
        box-shadow: none;
    }
    #mainNav .navbar-nav li.nav-item a.nav-link {
        font-size: 14px;
        background: transparent;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
        color: #0ef;
        text-decoration: underline;
        text-underline-offset: 10px;
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
        color: #0ef;
        text-decoration: underline;
        text-underline-offset: 10px;
    }
    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    #mainNav ul li a {
        margin-left: 10px;
    }
}


/* end navbar */


/* Content Home */

.home-content p {
    color: #0ef;
}

.home-content h1 {
    margin-top: -5px;
    font-weight: bold;
    letter-spacing: 2px;
}

.home-content h2 {
    color: rgba(0, 238, 255, 0.836);
    font-weight: 500;
}

.sosmed a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 20px 15px 20px 0;
    transition: .5s ease;
}

.sosmed a:hover {
    background-color: #0ef;
    color: #292929;
    box-shadow: 0 0 20px #0ef;
}

.cv {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #292929;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.cv:hover {
    color: #fff;
}

.profil {
    box-shadow: 0 0 20px #0ef;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* End Content Home */