<div class="row reveal" id="about">
  <div class="content-about rounded text-light">
    <div class="row">
      <div class="col-12 text-center mt-4">
        <h1>ABOUT</h1>
        <hr />
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-xl-6 text-center">
        <img
          src="images/profil.png"
          class="rounded-circle profil"
          width="370"
          height="370"
          alt="Profile Image"
        />
      </div>
      <div class="col-12 col-xl-6 mt-4">
        <p>
          Hi everybody! My name is Rizal Setiawan. I am a web developer from
          Bandung, West Java. I graduated with a Bachelor of Information
          Engineering at Nurtanio University Bandung in 2023. I have more than 1
          year of experience in Front-End Web Development and now I am studying
          and working as a QA Engineer and Front-End Web Developer. I really
          enjoy what I do; in my opinion, creating programs is not just a job,
          but also an art with aesthetic value. It has become my hobby because
          when I successfully create a program, I feel proud and happy with the
          result.
        </p>
        <p>
          My job is to build your website to be functional and user-friendly,
          yet still attractive. Additionally, I provide a personal touch to your
          product and ensure that the website catches attention and is easy to
          use. My goal is to convey your message and identity in the most
          creative way. If you are interested in hiring me, please contact me
          through the provided contact information.
        </p>
      </div>
    </div>
  </div>
</div>
