<div class="card reveal content-contact mt-5" id="contact">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="sosmed-contact text-center">
        <h3>Contact Us</h3>
      </div>
      <div class="card contactme">
        <div class="row">
          <div class="col-3 text-center" style="margin: auto">
            <img src="images/gmail.png" width="60px" height="50px" />
          </div>
          <div class="col-9">
            <h1>Gmail</h1>
            <p>rizalsetiawan2001@gmail.com</p>
            <a
              href="mailto:rizalsetiawan2001@gmail.com"
              style="text-decoration: none"
              target="_blank"
            >
              <h4>Send Me A Massage</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="card contactme">
        <div class="row">
          <div class="col-3 text-center" style="margin: auto">
            <img src="images/wa.png" width="60px" height="60px" />
          </div>
          <div class="col-9">
            <h1>Whatsapp</h1>
            <p>+62 821 3092 4083</p>
            <a
              href="https://wa.me/+6282130924083?text=Hallo Rizal Setiawan"
              style="text-decoration: none"
              target="_blank"
            >
              <h4>Send Me A Massage</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="card contactme">
        <div class="row">
          <div class="col-3 text-center" style="margin: auto">
            <img src="images/telegram.png" width="60px" height="60px" />
          </div>
          <div class="col-9">
            <h1>Telegram</h1>
            <p>+62 821 3092 4083</p>
            <a
              href="https://t.me/+6282130924083?text=Hallo Rizal Setiawan"
              style="text-decoration: none"
              target="_blank"
            >
              <h4>Send Me A Massage</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 mt-3">
      <iframe
        class="rounded"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d787.7892183919205!2d107.50373546949169!3d-6.906749168195211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e515e1227c61%3A0x8b3d531e08c68440!2sJl.%20Babakan%20Pari%2C%20Batujajar%20Tim.%2C%20Kec.%20Batujajar%2C%20Kabupaten%20Bandung%20Barat%2C%20Jawa%20Barat%2040561!5e1!3m2!1sid!2sid!4v1697889785582!5m2!1sid!2sid"
        width="100%"
        height="80%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="sosmed-contact text-center">
        <a href="mailto:rizalsetiawan2001@gmail.com">
          <i class="bx bxl-gmail"></i>
        </a>
        <a
          href="https://wa.me/+6282130924083?text=Hallo Rizal Setiawan"
          target="_blank"
        >
          <i class="bx bxl-whatsapp"></i>
        </a>
        <a href="https://www.instagram.com/rizalsetiawan28" target="_blank"
          ><i class="bx bxl-instagram"></i
        ></a>
        <a href="https://www.facebook.com/rizalsetiawan55" target="_blank"
          ><i class="bx bxl-facebook"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/rizal-setiawan-b71656172?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
          target="_blank"
          ><i class="bx bxl-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
</div>
