<div class="row justify-content-center mt-2" id="experience">
  <div class="col-12">
    <div class="text-center text-light text-experience">
      <h3 class="fw-bold">Work Experience</h3>
      <h5>My work experience in the company so far</h5>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-experience text-light">
      <div class="text-center fw-bold mt-3">
        <h5>Anaheim Nimbus Universal</h5>
      </div>
      <div class="text-center">
        <p style="margin-bottom: 5px">Programmer (Apprenticeship)</p>
        <p class="bahasa">14 Maret 2022 - 14 Maret 2023</p>
        <hr />
        <p style="font-size: 12px; margin-top: -5px">
          Jalan Ciwaruga no 17 Kec. Parongpong Kab. Bandung Barat 40559
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-experience text-light">
      <div class="text-center fw-bold mt-3">
        <h5>PT. Sigma Cipta Caraka (Telkomsigma)</h5>
      </div>
      <div class="text-center">
        <p style="margin-bottom: 5px">QA Tester (Work)</p>
        <p class="bahasa">26 September 2023 - 31 Desember 2023</p>
        <hr />
        <p style="font-size: 12px; margin-top: -5px">
          The Telkom Hub, Telkom Landmark Tower, Jl. Gatot Subroto No.Kav. 52,
          RT.6/RW.1, West Kuningan, Mampang Prapatan, South Jakarta City,
          Jakarta 12710
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-experience text-light">
      <div class="text-center fw-bold mt-3">
        <h5>Anaheim Nimbus Universal</h5>
      </div>
      <div class="text-center">
        <p style="margin-bottom: 5px">Programmer (Work)</p>
        <p class="bahasa">26 September 2023 - Now</p>
        <hr />
        <p style="font-size: 12px; margin-top: -5px">
          Jalan Ciwaruga no 17 Kec. Parongpong Kab. Bandung Barat 40559
        </p>
      </div>
    </div>
  </div>
</div>
