<div class="row content-home">
  <div class="col-12 col-md-5 col-xl-6">
    <div class="content-home text-light mt-5">
      <p>Hello World, I'm</p>
      <h1>Rizal Setiawan</h1>
      <h2 id="typing"></h2>
      <p class="mt-3 text-light">
        Welcome to My personal Website<span class="wave">👋🏼</span>
      </p>
    </div>
    <div class="sosmed-fix">
      <div class="sosmed">
        <a
          href="https://wa.me/+6282130924083?text=Hallo Rizal Setiawan"
          target="_blank"
          ><i class="bx bxl-whatsapp"></i
        ></a>
        <a href="https://www.instagram.com/rizalsetiawan28" target="_blank"
          ><i class="bx bxl-instagram"></i
        ></a>
        <a href="https://www.facebook.com/rizalsetiawan55" target="_blank"
          ><i class="bx bxl-facebook"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/rizal-setiawan-b71656172?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
          target="_blank"
          ><i class="bx bxl-linkedin"></i
        ></a>
      </div>
      <a href="cv/CV.pdf" class="cv mt-4" target="_blank">Download CV</a>
    </div>
  </div>
  <div class="col-12 col-md-6 text-center mt-2">
    <img
      src="images/profil.jpg"
      class="rounded-circle profil"
      width="400px"
      height="400px"
    />
    <div class="sosmed-responsive">
      <div class="sosmedd mt-4">
        <a
          href="https://wa.me/+6282130924083?text=Hallo Rizal Setiawan"
          target="_blank"
          ><i class="bx bxl-whatsapp"></i
        ></a>
        <a href="https://www.instagram.com/rizalsetiawan28" target="_blank"
          ><i class="bx bxl-instagram"></i
        ></a>
        <a href="https://www.facebook.com/rizalsetiawan55" target="_blank"
          ><i class="bx bxl-facebook"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/rizal-setiawan-b71656172?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
          target="_blank"
          ><i class="bx bxl-linkedin"></i
        ></a>
      </div>
      <a href="cv/CV.pdf" class="cv mt-4" target="_blank">Download CV</a>
    </div>
  </div>
</div>
