<div class="container-fluid">
  <div class="row" id="home">
    <nav
      class="navbar navbar-expand-md text-uppercase bg-transparent"
      id="mainNav"
    >
      <div class="col-1 mt-2">
        <a class="logo text-center text-decoration-none text-light" href="">
          <h2>RS</h2>
        </a>
      </div>
      <div class="col-2 col-md-1 col-lg-1 col-xl-4 menu-responsive">
        <button
          class="navbar-toggler text-uppercase font-weight-bold rounded"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i
            id="list"
            class="fas fa-bars text-light"
            onclick="onClickList()"
          ></i>
          <i
            id="close"
            class="fas fa-close text-light d-none"
            onclick="onClickClose()"
          ></i>
        </button>
      </div>
      <div class="col-12 col-md-10 text-center">
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarResponsive"
        >
          <ul class="navbar-nav text-center">
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 menu rounded active"
                id="scrollHome"
                href="#home"
                >Home</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 about rounded"
                id="scrollAbout"
                href="#about"
                >About</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 skills rounded"
                id="scrollSkills"
                href="#skills"
                >Skills</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 certificate rounded"
                id="scrollCertificate"
                href="#certificate"
                >Certificate</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 portfolio rounded"
                id="scrollPortfolio"
                href="#portfolio"
                >Portfolio</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 experience rounded"
                id="scrollExperience"
                href="#experience"
                >Experience</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 contact rounded"
                id="scrollContact"
                href="#contact"
                >Contact</a
              >
            </li>
            <div
              class="text-center icon-github-responsive"
              id="navbarResponsive"
            >
              <a
                href="https://github.com/rizal2001"
                style="color: #fff; font-size: 35px"
                target="_blank"
                ><i class="fa fa-github"></i
              ></a>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-1 col-xl-1 icon-github">
        <a
          href="https://github.com/rizal2001"
          style="color: #fff; font-size: 35px"
          target="_blank"
          ><i class="fa fa-github"></i
        ></a>
      </div>
    </nav>
  </div>
</div>
