<div class="row justify-content-center mt-4" id="portfolio">
  <div class="col-12">
    <div class="text-center text-light text-portfolio">
      <h3 class="fw-bold">Past Project Experience</h3>
      <h5>
        Explore the projects I've worked on so far from the beginning of the
        project until now
      </h5>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-portfolio text-light">
      <img src="portfolio/bmti.png" width="100%" height="200px" />
      <div class="text-center fw-bold mt-3">
        <h5>BMTI Galeri Kejuruan</h5>
      </div>
      <p class="" id="text1">
        The BBPPMV BMTI Vocational Gallery Website Application System consists
        of developing a system to support...
      </p>
      <p class="d-none" id="textt1">
        The BBPPMV BMTI Vocational Gallery Website Application System consists
        of developing a system to support the need for centralized learning
        media as well as a dashboard and homepage that can display existing
        learning and statistical data which provides complete and comprehensive
        information regarding learning activities. In order to support the
        convenience of stackholders in preparing plans for maintenance,
        development, construction, budgeting and supervision as well as
        participants and educational staff to make it easier to carry out
        training.
      </p>
      <p class="bahasa">Laravel 9, Bootstrap</p>
      <button
        class=""
        data-bs-toggle="modal"
        onclick="toggleText('1', true)"
        id="more1"
      >
        See More
      </button>
      <button
        class="d-none"
        data-bs-toggle="modal"
        onclick="toggleText('1', false)"
        id="less1"
      >
        See Less
      </button>
      <div class="link-portfolio float-end mt-4">
        <a
          href="https://galeri.kejuruan.id/"
          class="text-decoration-none"
          target="_blank"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="18"
            width="18"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
            ></path>
            <polyline points="15 3 21 3 21 9"></polyline>
            <line x1="10" y1="14" x2="21" y2="3"></line>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-portfolio text-light">
      <img src="portfolio/mjm.png" width="100%" height="200px" />
      <div class="text-center fw-bold mt-3">
        <h5>Mursmedic Jaya Mandiri</h5>
      </div>
      <p class="" id="text2">
        The realization of the MJM website application which is used to collect
        data and diagnosis results from tools...
      </p>
      <p class="d-none" id="textt2">
        The realization of the MJM website application which is used to collect
        data and diagnosis results from tools that will later be used by doctors
        as a medium to make it easier to carry out or provide conclusions from
        the diagnosis results.
      </p>
      <p class="bahasa">Django, Python</p>
      <button
        class=""
        data-bs-toggle="modal"
        onclick="toggleText('2', true)"
        id="more2"
      >
        See More
      </button>
      <button
        class="d-none"
        data-bs-toggle="modal"
        onclick="toggleText('2', false)"
        id="less2"
      >
        See Less
      </button>
      <div class="link-portfolio float-end mt-4">
        <a
          href="http://ecg.anaheim.co.id:7000/"
          class="text-decoration-none"
          target="_blank"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="18"
            width="18"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
            ></path>
            <polyline points="15 3 21 3 21 9"></polyline>
            <line x1="10" y1="14" x2="21" y2="3"></line>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-portfolio text-light">
      <img src="portfolio/bem.png" width="100%" height="200px" />
      <div class="text-center fw-bold mt-3">
        <h5>BEM Universitas Nurtanio Bandung</h5>
      </div>
      <p class="" id="text3">
        The Student Executive Board of the Republic of Nurtanio University
        Students in Bandung is an intra-campus...
      </p>
      <p class="d-none" id="textt3">
        The Student Executive Board of the Republic of Nurtanio University
        Students in Bandung is an intra-campus student organization which is an
        executive institution at the university level. BEM REMA UNNUR is tasked
        with coordinating all student organizations within the student
        environment at Nurtanio University Bandung through various work
        programs. On the other hand, it must carry out its duties as an
        educational organ and cadre as an effort to maintain organizational
        stability and create productive spaces for students.
      </p>
      <p class="bahasa">Laravel 9, Bootstrap</p>
      <button
        class=""
        data-bs-toggle="modal"
        onclick="toggleText('3', true)"
        id="more3"
      >
        See More
      </button>
      <button
        class="d-none"
        data-bs-toggle="modal"
        onclick="toggleText('3', false)"
        id="less3"
      >
        See Less
      </button>
      <div class="link-portfolio float-end mt-4">
        <a
          href="https://github.com/rizal2001/bem-unnur.git"
          class="text-decoration-none"
          target="_blank"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="16"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
            ></path>
          </svg>
        </a>
        <a
          href="http://bemremanurtanio.com"
          class="text-decoration-none"
          target="_blank"
          style="margin-left: 5px"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="18"
            width="18"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
            ></path>
            <polyline points="15 3 21 3 21 9"></polyline>
            <line x1="10" y1="14" x2="21" y2="3"></line>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-portfolio text-light">
      <img src="portfolio/srm.png" width="100%" height="200px" />
      <div class="text-center fw-bold mt-3">
        <h5>PT. Shiddiq Sarana Mulya</h5>
      </div>
      <p class="" id="text4">
        PT. Shiddiq Sarana Mulya This is an application project that aims to
        create a decision support...
      </p>
      <p class="d-none" id="textt4">
        PT. Shiddiq Sarana Mulya This is an application project that aims to
        create a decision support system. Which contains the main page and
        dashboard along with the menu.
      </p>
      <p class="bahasa">Laravel 9, Bootstrap</p>
      <button
        class=""
        data-bs-toggle="modal"
        onclick="toggleText('4', true)"
        id="more4"
      >
        See More
      </button>
      <button
        class="d-none"
        data-bs-toggle="modal"
        onclick="toggleText('4', false)"
        id="less4"
      >
        See Less
      </button>
      <div class="link-portfolio float-end mt-4">
        <a
          href="https://github.com/syahrizall/sistem-pendukung-keputusan.git"
          class="text-decoration-none"
          target="_blank"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="16"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-portfolio text-light">
      <img src="portfolio/kai.png" width="100%" height="200px" />
      <div class="text-center fw-bold mt-3">
        <h5>PT. Kereta Api Indonesia (PERSERO)</h5>
      </div>
      <p class="" id="text5">
        PT. Kereta Api Indonesia or commonly abbreviated as KAI, is an
        Indonesian state-owned enterprise...
      </p>
      <p class="d-none" id="textt5">
        PT. Kereta Api Indonesia or commonly abbreviated as KAI, is an
        Indonesian state-owned enterprise which operates in the railway sector.
        Here I had the opportunity to create a Kai dashboard website as a
        frontend development programmer.
      </p>
      <p class="bahasa">Next.Js, TypeScript</p>
      <button
        class=""
        data-bs-toggle="modal"
        onclick="toggleText('5', true)"
        id="more5"
      >
        See More
      </button>
      <button
        class="d-none"
        data-bs-toggle="modal"
        onclick="toggleText('5', false)"
        id="less5"
      >
        See Less
      </button>
      <div class="link-portfolio float-end mt-4">
        <a
          href="https://mpp.anaheim.co.id/"
          class="text-decoration-none"
          target="_blank"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="18"
            width="18"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
            ></path>
            <polyline points="15 3 21 3 21 9"></polyline>
            <line x1="10" y1="14" x2="21" y2="3"></line>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-portfolio text-light">
      <img src="portfolio/yaons.png" width="100%" height="200px" />
      <div class="text-center fw-bold mt-3">
        <h5>PT. Yasa Artha Trimanunggal (YAONS)</h5>
      </div>
      <p class="" id="text6">
        PT. Yasa Artha Trimanunggal is a distribution company as a national
        company...
      </p>
      <p class="d-none" id="textt6">
        PT. Yasa Artha Trimanunggal is a distribution company as a national
        company, PT. Yasa Artha Trimanunggal is trusted to distribute rice
        assistance from Bulog.
      </p>
      <p class="bahasa">React, Tailwind</p>
      <button
        class=""
        data-bs-toggle="modal"
        onclick="toggleText('6', true)"
        id="more6"
      >
        See More
      </button>
      <button
        class="d-none"
        data-bs-toggle="modal"
        onclick="toggleText('6', false)"
        id="less6"
      >
        See Less
      </button>
      <div class="link-portfolio float-end mt-4">
        <a
          href="http://103.93.131.111/"
          class="text-decoration-none"
          target="_blank"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="18"
            width="18"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
            ></path>
            <polyline points="15 3 21 3 21 9"></polyline>
            <line x1="10" y1="14" x2="21" y2="3"></line>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-portfolio text-light">
      <img src="portfolio/kci.png" width="100%" height="200px" />
      <div class="text-center fw-bold mt-3">
        <h5>PT. Kereta Commuter Indonesia (KCI)</h5>
      </div>
      <p class="" id="text7">
        KCI is a website application project that aims to temporarily route maps
        for the arrival and departure....
      </p>
      <p class="d-none" id="textt7">
        KCI is a website application project that aims to temporarily route maps
        for the arrival and departure of the KRL from Tanggerang to Duri.
      </p>
      <p class="bahasa">React, Tailwind</p>
      <button
        class=""
        data-bs-toggle="modal"
        onclick="toggleText('7', true)"
        id="more7"
      >
        See More
      </button>
      <button
        class="d-none"
        data-bs-toggle="modal"
        onclick="toggleText('7', false)"
        id="less7"
      >
        See Less
      </button>
      <div class="link-portfolio float-end mt-4">
        <a
          href="https://dashboard-rtls.anaheim.co.id/"
          class="text-decoration-none"
          target="_blank"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="18"
            width="18"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
            ></path>
            <polyline points="15 3 21 3 21 9"></polyline>
            <line x1="10" y1="14" x2="21" y2="3"></line>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-portfolio text-light">
      <img src="portfolio/blacklist.png" width="100%" height="200px" />
      <div class="text-center fw-bold mt-3">
        <h5>Blacklist Person Monitoring System</h5>
      </div>
      <p class="" id="text8">
        Blacklist Person Monitoring System is a project of PT. The Indonesian
        Commuter Train and the Attorney....
      </p>
      <p class="d-none" id="textt8">
        Blacklist Person Monitoring System is a project of PT. The Indonesian
        Commuter Train and the Attorney General's Office which functions as
        monitoring and blacklisting the Attorney General's Office and the
        police.
      </p>
      <p class="bahasa">React, Tailwind</p>
      <button
        class=""
        data-bs-toggle="modal"
        onclick="toggleText('8', true)"
        id="more8"
      >
        See More
      </button>
      <button
        class="d-none"
        data-bs-toggle="modal"
        onclick="toggleText('8', false)"
        id="less8"
      >
        See Less
      </button>
      <!-- <div class="link-portfolio float-end mt-4">
          <a
            href="https://dashboard-rtls.anaheim.co.id/"
            class="text-decoration-none"
            target="_blank"
          >
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="18"
              width="18"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
              ></path>
              <polyline points="15 3 21 3 21 9"></polyline>
              <line x1="10" y1="14" x2="21" y2="3"></line>
            </svg>
          </a>
        </div> -->
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <div class="card-portfolio text-light">
      <img src="portfolio/blacklist.png" width="100%" height="200px" />
      <div class="text-center fw-bold mt-3">
        <h5>Mavic Plasma</h5>
      </div>
      <p class="" id="text9">
        Mavic is a global company with expertise in the production and marketing
        of industrial, marine and automotive....
      </p>
      <p class="d-none" id="textt9">
        Mavic is a global company with expertise in the production and marketing
        of industrial, marine and automotive oils and greases. Mavic was formed
        in 1970 as a company focused on industrial lubrication. Over time, we
        expanded into marine, automotive and chemicals. We work closely with
        experts, distributors and marketers in every country where we operate.
      </p>
      <p class="bahasa">Laravel 11, Tailwind</p>
      <button
        class=""
        data-bs-toggle="modal"
        onclick="toggleText('9', true)"
        id="more9"
      >
        See More
      </button>
      <button
        class="d-none"
        data-bs-toggle="modal"
        onclick="toggleText('9', false)"
        id="less9"
      >
        See Less
      </button>
      <div class="link-portfolio float-end mt-4">
        <a
          href="https://plasmamavic.com/"
          class="text-decoration-none"
          target="_blank"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="18"
            width="18"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
            ></path>
            <polyline points="15 3 21 3 21 9"></polyline>
            <line x1="10" y1="14" x2="21" y2="3"></line>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
