<div class="row reveal" id="skills">
  <div class="col-12">
    <div class="content-skills text-center text-light">
      <h2>SKIILS</h2>
      <hr class="mx-auto" />
    </div>
  </div>
</div>
<div class="row reveal justify-content-center text-center btn-skills mt-4">
  <div class="col-6 col-md-3 col-xl-2">
    <button
      class="btn-skills-active"
      style="--clr: #0ff0fc"
      onclick="onClickCoding()"
      id="btn-skills-1"
    >
      <span>Coding</span><i></i>
    </button>
  </div>
  <div class="col-6 col-md-3 col-xl-2">
    <button style="--clr: #0ff0fc" onclick="onClickDesign()" id="btn-skills-2">
      <span>Design</span><i></i>
    </button>
  </div>
  <div class="col-6 col-md-3 col-xl-2">
    <button style="--clr: #0ff0fc" onclick="onClickTools()" id="btn-skills-3">
      <span>Tools</span><i></i>
    </button>
  </div>
  <div class="col-6 col-md-3 col-xl-2">
    <button
      style="--clr: #0ff0fc"
      onclick="onClickMicrosoft()"
      id="btn-skills-4"
    >
      <span>Microsoft</span><i></i>
    </button>
  </div>
</div>
<!-- coding -->
<div class="row justify-content-center mt-5" id="coding">
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/html.png" />
        </div>
        <div class="contentBx">
          <h2>HTML</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Markup Language</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/css.png" />
        </div>
        <div class="contentBx">
          <h2>CSS</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Markup Language</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/js.png" />
        </div>
        <div class="contentBx">
          <h2>JavaScript/JSX</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Markup Language</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Intermediate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/ts.png" />
        </div>
        <div class="contentBx">
          <h2>TypeScript/TSX</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Markup Language</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Intermediate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/php.png" style="left: 15%" />
        </div>
        <div class="contentBx">
          <h2>PHP</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Markup Language</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/bootsrap.png" />
        </div>
        <div class="contentBx">
          <h2>Bootstrap</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Library Framework</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/tailwind.png" />
        </div>
        <div class="contentBx">
          <h2>Tailwind</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Library Framework</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/laravel.png" />
        </div>
        <div class="contentBx">
          <h2>Laravel</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Framework PHP</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/react.png" style="left: 17%" />
        </div>
        <div class="contentBx">
          <h2>React</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Framework JS</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Intermediate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/nextjs.png" />
        </div>
        <div class="contentBx">
          <h2>Next.JS</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Framework JS</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Intermediate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/node.png" />
        </div>
        <div class="contentBx">
          <h2>Node JS</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Framework JS</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Intermediate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/django.png" />
        </div>
        <div class="contentBx">
          <h2>Django</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Framework Python</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Intermediate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- design -->
<div class="row justify-content-center mt-5 d-none" id="design">
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/xd.png" />
        </div>
        <div class="contentBx">
          <h2>Adobe XD</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>UI/UX</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/figma.png" />
        </div>
        <div class="contentBx">
          <h2>Figma</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>UI/UX</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/ps.png" />
        </div>
        <div class="contentBx">
          <h2>Adobe Photoshop</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Editing</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tools -->
<div class="row justify-content-center mt-5 d-none" id="tools">
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/hub.png" />
        </div>
        <div class="contentBx">
          <h2>GitHub</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Git Hosting</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/lab.png" />
        </div>
        <div class="contentBx">
          <h2>GitLab</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Manajer Repositori </span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/sql.png" />
        </div>
        <div class="contentBx">
          <h2>MySQL</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Database</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Intermediate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/postman.png" />
        </div>
        <div class="contentBx">
          <h2>Postman</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>API</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Intermediate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- microsoft -->
<div class="row justify-content-center mt-5 d-none" id="microsoft">
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/word.png" />
        </div>
        <div class="contentBx">
          <h2>Microsoft Word</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Pengolah Kata</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/excel.png" />
        </div>
        <div class="contentBx">
          <h2>Microsoft Excel</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Pengolah Angka</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3">
    <div class="card-skill">
      <div class="card">
        <div class="imgBx">
          <img src="images/ppt.png" />
        </div>
        <div class="contentBx">
          <h2>Microsoft Power Point</h2>
          <div class="size">
            <h3>Type :</h3>
            <span>Percentage</span>
          </div>
          <div class="color">
            <h3>Ability :</h3>
            <span>Advanced</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
